
<div id='question_box'>
<h1><%= @question.title %></h1> 
<h3><%= @question.body %></h3>
<p>-<%= @question.user.username %> <%= image_tag(@question.user.gravatar_url, width: "50", height: "50") %></p>
<p>-<%= @question.user.username %></p>
<h3><%= @question.body %></h3>
</div>

<br />
<h4>Answers to this question:</h4>
	<ul>


	<% @question.answers.each do |answer| %>

		<li>
      <p><%= answer.body %>, by: <%= answer.user.username %> <%= image_tag(answer.user.gravatar_url, width: "50", height: "50") %></p>
      
		<li><p><%= answer.body %>, by: <%= answer.user.username %></p></li>


      Votes: <span class='vote_count'><%= answer.votes.count %></span>

     
      <%= form_for answer.votes.last, remote: true do |f| %>

        <%= f.hidden_field :answer_id, value: answer.votes.last.answer_id %>

        <%= f.submit "Vote", :'data-answer' => answer.votes.last.answer_id, :'data-user' => current_user.id, class: "btn btn-success btn-sm" %>
        

        <h5>Comments: </h5>
        <ul>
          <% answer.comments.each do |comment| %>
            <li><%= comment.content %> (<span class='comment-user'><%= comment.user.username %></span>) <%= image_tag(comment.user.gravatar_url, width: "50", height: "50") %></li>
          <% end %>
        </ul>
        <%= link_to "Comment", answer_path(answer) %>
      <% end %>
    </li>

		<% end %>
	</ul>

<% if logged_in? %>
<%= link_to "Answer This Question!", new_question_answer_path(@question) %>
<% end %>
