
<div id='question_box'>

  <h1><%= @question.title %></h1>
  <hr />

  <div class="grav_vote_box">
    <div class='count'>
      <span class="badge"><%= @question.votes.where(vote: 'up').count %></span>
    </div>

    <div class='vote_btn'>
      <%= button_to "up", question_votes_path(@question, { vote: 'up'}), class: "btn btn-success btn-xs", remote: true %>
      <%= button_to "dwn", question_votes_path(@question, { vote: 'dwn'}), class: "btn btn-danger btn-xs", remote: true %>
    </div>

    <% if @question.user.image.present? %>
      <p><span>Question submitted by: <span style='color: #3366FF;'><b><%= @question.user.username %></b> </span></span><img src='<%= @question.user.image.thumb.to_s %>'></p>
    <% else %>
      <p><span>Question submitted by: <span style='color: #3366FF;'><b><%= @question.user.username %></b> </span></span><%= image_tag(@question.user.gravatar_url, width: "40", height: "40") %></p>
    <% end %>

    <div class='view_info_box'><span><%= @question.view %></span><div>Views</div></div>
    <div class='view_info_box'><span><%= @question.answers.count %></span><div>Answers</div></div>
  </div>

    <div class='image_body'>
      <img src='<%= @question.image_url.to_s %>', style='float:left'>
      <p id='question_body'><%= @question.body %></p>
    </div>


  <h4 style='clear: both;'>Comments:</h4>
  <hr />
  <div class='comment_begin'></div>
  <% if !@question.comments.empty? %>
    <% @question.comments.each do |comment| %>
      <p class='comment_append'><%= comment.content %>
      <br><span class='comment_date'>comment by: <b><%= comment.user.username %></b> on <%= comment.created_at.strftime('%B, %d, %Y') %>, </span></p>
      <hr />
    <% end %>
  <% end %>

  <% if session[:id] %>
    <%= form_tag question_comments_path(@question), class: 'comment_form', remote: true do %>
      <%= submit_tag 'Add Comment', class: "btn btn-primary btn-xs" %>
      <%= text_area_tag 'comment', nil, class: "form-control"%>
    <% end %>
  <% end %><br>
  <%= link_to 'Answer this Question', '#answerModal', data: {toggle: 'modal'}, id: 'answer_btn', class: "btn btn-success" %>
  <%= render "shared/answer_modal" %>
</div>


<% if @question.answers.empty? %>
  <script>$('#answer_btn').text('Be the first to answer this question!')</script>
<% else %>
  <script>$('#answer_btn').text('Submit an Answer')</script>
  <% @question.answers.each do |answer| %>
    <div class='answer_box'>
      <div class="grav_vote_box">
        <div class='count'>
          <span class="badge"><%= answer.votes.where(vote: 'up').count %></span>
        </div>
        <div class='vote_btn'>
          <%= button_to "up", answer_votes_path(answer, { vote: 'up'}), class: "btn btn-success btn-xs", remote: true %>
          <%= button_to "dwn", answer_votes_path(answer, { vote: 'dwn'}), class: "btn btn-danger btn-xs", remote: true %>
        </div>
        <% if answer.user.image.present? %>
          <p><span>Answer submitted by: <span style='color: #3366FF;'><b><%= answer.user.username %></b> </span></span><img src='<%= answer.user.image.thumb.to_s %>'></p>
        <% else %>
          <p><span>Answer submitted by: <span style='color: #3366FF;'><b><%= answer.user.username %></b> </span></span><%= image_tag(answer.user.gravatar_url, width: "40", height: "40") %></p>
        <% end %>
      </div>
      <p id='answer_body'><%= answer.body %></p>
      <hr />

      <div class='comment_begin'></div>
      <% if !answer.comments.empty? %>
        <% answer.comments.each do |comment| %>
          <p class='comment_append'><%= comment.content %>
          <br><span class='comment_date'>comment by: <b><%= comment.user.username %></b> on <%= comment.created_at.strftime('%B, %d, %Y') %>, </span></p>
          <hr />
        <% end %>
      <% end %>
      <% if session[:id] %>
        <%= form_tag answer_comments_path(answer), class: 'comment_form', remote: true do %>
          <%= submit_tag 'Add Comment', class: "btn btn-primary btn-xs" %>
          <%= text_area_tag 'comment', nil, class: "form-control"%>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<div id="hidden">
  <p class='comment_append'></p>
</div>


