
<div id='question_box'>

<h1><%= @question.title %></h1>
<hr />
<div id="grav_vote_box">
  <div id='count'>
    <span class="badge"><%= @question.votes.count %></span>
  </div>
  <div id='vote_btn'>
    <%= button_to "up", nil, class: "btn btn-success btn-xs" %>
    <%= button_to "dwn", nil, class: "btn btn-danger btn-xs" %>

  </div>
  <% if @question.user.image.present? %>
  <img src='<%= @question.user.image.thumb.to_s %>'>
  <% else %>
<p><%= image_tag(@question.user.gravatar_url, width: "40", height: "40") %>
<% end %>
  <span> - <%= @question.user.username %></span></p><div class='view_info_box'><span><%= @question.answers.count %></span><div>Views</div></div><div class='view_info_box'><span><%= @question.answers.count %></span><div>Answers</div></div></div>
<p id='question_body'><%= @question.body %></p>
<img src='<%= @question.image_url.to_s %>'>
<hr />

  <% if session[:id] %>
    <%= render 'shared/comment_form'%>
    <%= form_tag question_comments_path(@question), id: 'comment_form', remote: true do %>
      <%= submit_tag 'Add Comment', class: "btn btn-primary btn-xs" %>
      <%= text_area_tag 'comment', nil, class: "form-control"%>
    <% end %>
  <% end %>
</div>

