<h1><%= @question.title %></h1> 
<h3><%= @question.body %></h3>
<p>-<%= @question.user.username %></p>
<br />
<h4>Answers to this question:</h4>
	<ul>
	<% @question.answers.all.each do |answer| %>
		<li><%= answer.body %>-<%= answer.user.username %></li>
      <ul>
        <h5>Comments: </h5>
        <% answer.comments.each do |comment| %>
          <li><%= comment.content %> -<%= comment.user.username %></li>
        <% end %>
        <%= link_to "Comment", answer_path(answer) %>
    </ul>
		<% end %>
	</ul>

<% if logged_in? %>
<%= link_to "Answer This Question!", new_question_answer_path(@question) %>
<% end %>
