<h1>Sign Up!</h1>

<%= form_for @user do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username, :placeholder => "Type a username" %><br>
  <%= f.label :email %><br>
  <%= f.text_field :email, :placeholder => "Type your email address" %><br>
  <%= f.label :password %><br>
  <%= f.password_field :password, :placeholder => "Type a password" %><br>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation, :placeholder => "Confirm your password" %><br><br>
  <%= f.submit "Create User!", class: "btn btn-primary btn-sm" %>
<% end %>
