  <div class="modal fade" id="answerModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">New Answer</h4>
        </div>
        <div class="modal-body">
          <%= form_tag(question_answers_path(@question), method: 'post', :multipart => true, id: 'answer_modal', remote: true) do %>
            <%= hidden_field(:answer, :question_id, value: @question.id) %>
            <%= label(:answer, :body) %><br>
            <%= text_area(:answer, :body, class: "form-control") %><br><br>
            <br><%= submit_tag("Create Answer!", class: "btn btn-primary btn-sm") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>