<!-- Button trigger modal -->
<!--  <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Launch demo modal</a> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">New Question</h4>
        </div>
        <div class="modal-body">

          <%= form_tag(questions_path, method: 'post') do %>
            <%= label(:question, :title) %><br>
            <%= text_field(:question, :title) %><br><br>
            <%= label(:question, :body) %><br>
            <%= text_area(:question, :body, row: 20, cols: 75) %><br><br>
            <%#= f.label :image %>
            <%#= f.file_field :image %>
            <%= submit_tag("Create Question!", class: "btn btn-primary btn-sm") %>
          <% end %>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->