<!-- NEW FORM-TAG -->
<div class='sign-up'>
	<%= form_tag(users_path, method: 'post') do %>
		<%= text_field(:user, :username, placeholder: 'Username') %>
		<%= email_field(:user, :email, placeholder: 'Email') %>
		<%= password_field(:user, :password, placeholder: 'Password') %>
		<%= password_field(:user, :password_confirmation, placeholder: 'Confirm Password') %>
		<%= submit_tag('Sign Up!', class: "btn btn-primary btn-sm") %>
	<% end %>
</div>