<div class='sign-up'>
<%= form_for @user, url: url_for(controller: "users", action: "create") do |f| %>
	<%= f.text_field :username, :placeholder => "username" %>
	<%= f.email_field :email, :placeholder => "email" %>
	<%= f.password_field :password, :placeholder => "password" %>
	<%= f.password_field :password_confirmation, :placeholder => "confirm password" %>
	<%= f.submit "sign up!" %>
<% end %>
</div>