<!-- NEW FORM-TAG -->
<div class='sign-up'>
	<%= form_tag(users_path, method: 'post') do %>
		<%= text_field(:user, :username) %>
		<%= email_field(:user, :email) %>
		<%= password_field(:user, :password) %>
		<%= password_field(:user, :password_confirmation) %>
		<%= submit_tag('sign up!') %>
	<% end %>
</div>