
<div id='question_box'>

  <h1><%= @question.title %></h1>
  <hr />
  <div id="grav_vote_box">
    <div id='count'>
      <span class="badge"><%= @question.votes.count %></span>
    </div>
    <div id='vote_btn'>
      <%= button_to "up", question_votes_path(@question, { vote: 'up'}), class: "btn btn-success btn-xs",  id: 'voteup', remote: true %>
      <%= button_to "dwn", question_votes_path(@question, { vote: 'dwn'}), class: "btn btn-danger btn-xs", id: 'votedwn', remote: true %>
    </div>
    <% if @question.user.image.present? %>
      <p><img src='<%= @question.user.image.thumb.to_s %>'><span> - <%= @question.user.username %></span></p>
    <% else %>
      <p><%= image_tag(@question.user.gravatar_url, width: "40", height: "40") %><span> - <%= @question.user.username %></span></p>
    <% end %>
    <div class='view_info_box'><span><%= @question.view %></span><div>Views</div></div>
    <div class='view_info_box'><span><%= @question.answers.count %></span><div>Answers</div></div>
  </div>
  <p id='question_body'><%= @question.body %></p>
  <img src='<%= @question.image_url.to_s %>'>
    <h4>Comments:</h4>
  <hr />

    <div id='comment_begin'></div>
    <% @question.comments.each do |comment| %>
    <p id='comment_append'><%= comment.content %>

  <% if comment.user.image.present? %>
      <p><img src='<%= comment.user.image.thumb.to_s %>'><span> comment by: <%= comment.user.username %> on <%= comment.created_at.strftime('%B, %d, %Y') %></span></p>
    <% else %>
      <p><%= image_tag(comment.user.gravatar_url, width: "40", height: "40") %><span> comment by: <%= comment.user.username %> on <%= comment.created_at.strftime('%B, %d, %Y') %></span></p>
    <% end %>
      <hr />
      <%end%>

  <% if session[:id] %>
    <%= form_tag question_comments_path(@question), id: 'comment_form', remote: true do %>
    <%= submit_tag 'Add Comment', class: "btn btn-primary btn-xs" %>
    <%= text_area_tag 'comment', nil, class: "form-control"%>
    <% end %>
    <% end %>
  </div>

   </div>

   <div id="question_box">
    <h3>Answers:</h3>
    <div id='comment_begin'></div>
    <ul>
    <% @question.answers.each do |answer| %>
    <li><h4><p id='comment_append'><%= answer.body %></h4></li>

      <% if answer.user.image.present? %>
      <p><img src='<%= answer.user.image.thumb.to_s %>'><span> answer by: <%= answer.user.username %> on <%= answer.created_at.strftime('%B, %d, %Y') %></span></p>
      <% else %>
      <p><%= image_tag(answer.user.gravatar_url, width: "40", height: "40") %><span> answer by: <%= answer.user.username %> on <%= answer.created_at.strftime('%B, %d, %Y') %></span></p>
      <% end %>
      <hr />
      <hr />
      <br />
      <h4>Comments:</h4>
      <div id='comment_begin'></div>
    <% answer.comments.each do |comment| %>
    <p id='comment_append'><%= comment.content %>

  <% if comment.user.image.present? %>
      <p><img src='<%= comment.user.image.thumb.to_s %>'><span> comment by: <%= comment.user.username %> on <%= comment.created_at.strftime('%B, %d, %Y') %></span></p>
    <% else %>
      <p><%= image_tag(comment.user.gravatar_url, width: "40", height: "40") %><span> comment by: <%= comment.user.username %> on <%= comment.created_at.strftime('%B, %d, %Y') %></span></p>
    <% end %>
      <hr />
      <%end%>
      <hr />

      <%end%>
    </ul>
</div>