<!DOCTYPE html>
<html>
<head>
  <title>ShakeNBake</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
		<ul class="nav navbar-nav">
			<li><%= link_to 'Shake \'n\' Bake', questions_path, class: 'brand' %></li>

	    <% if session[:id] %>
      <li><%= link_to 'My Profile', user_path(current_user) %></li>
	      <li><%= link_to 'Logout', session_path(session[:id]), method: :delete %></li>
	      <li><%= link_to 'Ask a Question', new_question_path %></li>
	    <% else %> 
	 	    <li><%= link_to 'Sign up', new_user_path %></li>
	 	    <li><%= link_to 'Sign in', '/sessions' %></li>
	 	  <% end %>
	 	</ul>

	  <% if session[:id] %>
	    <ul id='user_ul'>
        <%= search_field(:question, :title) %>
	    	<li id='user'>Logged in as: <span><%= User.find(session[:id]).username %></span></li>

	    </ul>
	  <% end %>
	</div>
</div>
<%= yield %>
</body>
</html>
