<!DOCTYPE html>
<html>
<head>
  <title>ShakeNBake</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
		<ul class="nav navbar-nav">
			<li><%= link_to 'Our Site Name', questions_path, class: 'brand' %></li>
	    <% if logged_in? %>
	      <li><%= link_to 'Logout', '/sessions/' + "#{current_user.id}" %></li>
	      <li><%= link_to 'Ask a Question', '/questions/new' %></li>
	    <% else %> 
	 	    <li><%= link_to 'Sign up', new_user_path %></li>
	 	    <li><%= link_to 'Sign in', '/sessions' %></li>
	 	  <% end %>
	 	</ul>
	  <% if logged_in? %>
	    <ul id='user_ul'>
	    	<li id='user'>Logged in as: <span><% current_user.username %></span></li>
	    </ul>
	  <% end %>
	</div>
</div>
<%= yield %>
</body>
</html>
